@import "../sizings.scss";
@import "../colors.scss";

.app {
  > header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $header-width;

    padding: $large-size;
    padding-right: calc(#{$large-size} + #{$border-size});
    border-right: $border-size solid $dark-green;
    box-shadow: inset -#{$border-size} 0 0 $light-green;
    background: $green;
    color: $white;

    > h1 { text-align: center; }
  }

  > main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $header-width;

    background: $white;
    overflow-y: auto;
  }
}
