@import "../../vars/colors.scss";
@import "../../vars/sizings.scss";

@mixin buttonColor($color, $darkColor, $lightColor) {
  background-color: $color;
  background: linear-gradient(180deg, $color 0%, $darkColor 240%);
  box-shadow: inset 0 0 0 1px $darkColor,
              inset 0 0 0 2px $lightColor;
    
  &:hover {
    background: linear-gradient(0deg, $color 0%, $darkColor 240%);
  }
}

.form-field, .form-button {
  margin: $small-size 0;

  * {
    margin: 0;
  }

  .error {
    color: $red;
  }
}

.form-field {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;

  .label {
    padding-right: $tiny-size;
    align-self: center;

    &.empty {
      padding-right: 0;
    }
  }

  textarea, input, select {
    border-radius: $small-size;
    border: 1px solid $gray;
    padding: $small-size;
    resize: vertical;

    // Textarea already inherits from body, but it only inherits correctly with this???
    font-family: inherit;
    font-size: 1em;
  }

  .error {
    grid-column: 2 / span 1;
  }
}

.form-button {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  input {
    border-radius: $small-size;
    border: 0;
    padding: $small-size;

    font-family: inherit;
    font-size: 1em;
    color: $white;
    cursor: pointer;

    @include buttonColor($green, $green-dark, $green-light);
  }
}
