$white: #f0f0f0;
$white-dark: #dddddd;
$gray: #666;
$black: #111;

$red: #c54444;
$red-dark: darken($red, 25%);
$red-light: saturate(lighten($red, 30%), 100%);
$orange: #df8134;
$orange-dark: darken($orange, 30%);
$orange-light: saturate(lighten($orange, 25%), 100%);
$green: #44c55b;
$green-dark: darken($green, 25%);
$green-light: saturate(lighten($green, 25%), 100%);
$blue: #4491c5;
$blue-dark: darken($blue, 30%);
$blue-light: saturate(lighten($blue, 28%), 100%);
$purple: #8f4fca;
$purple-dark: darken($purple, 31%);
$purple-light: saturate(lighten($purple, 30%), 100%);
$pink: #fa87ca;
$pink-dark: darken($pink, 26%);
$pink-light: saturate(lighten($pink, 17%), 100%);
