@import "../../vars/colors.scss";
@import "../../vars/sizings.scss";

@mixin barPortionColor($color, $darkColor, $lightColor) {
  background-color: $color;
  background: linear-gradient(180deg, $color 0%, $darkColor 240%);
  box-shadow: inset 0 0 0 1px $darkColor,
              inset 0 0 0 2px $lightColor;
    
  &:hover {
    background: linear-gradient(0deg, $color 0%, $darkColor 240%);
  }
}

article {
  margin: $large-size auto;
  border-radius: $medium-size;
  border: 1px solid $gray;
  padding: $medium-size;
  min-width: min-content;
  max-width: $article-max-width;
  box-sizing: border-box;

  background-color: $white;
  color: $black;

  &.post {
    .title {
      margin-bottom: $tiny-size;
    }
    .date {
      margin-top: $tiny-size;
    }
  }
}

.bar-chart {
  display: flex;
  flex-direction: row;
  gap: $tiny-size;
  aspect-ratio: 16/9;

  .bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    box-sizing: border-box;
  }

  .bar-portion {
    background-color: black;  // Used to see which portions need new colors
  }
  .bar-portion.green {
    @include barPortionColor($green, $green-dark, $green-light);
  }
  .bar-portion.red {
    @include barPortionColor($red, $red-dark, $red-light);
  }
  .bar-portion.blue {
    @include barPortionColor($blue, $blue-dark, $blue-light);
  }
}