@import './colors.scss';
@import './sizings.scss';

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $white;
}

.app {
  > header {
    display: flex;
    gap: $large-padding;

    padding: $large-padding;
    background-color: $green;
    color: $green-light;

    > nav {
      display: flex;
      gap: $medium-padding;

      a, span {
        margin: auto 0;
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          text-decoration: none;
        }
      }
    }
  } 

  > main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $large-padding;

    box-sizing: border-box;
    margin: 0 auto;
    padding: $large-padding;
  }
}

@media screen and (max-width: calc(#{$medium-page-width} - 1px)) {
  main {
    max-width: $small-page-width;
    > .grid {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: calc(#{$large-page-width} - 1px)) and (min-width: $medium-page-width) {
  main {
    max-width: $medium-page-width;
    > .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: $large-page-width) {
  main {
    max-width: $large-page-width;
    > .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
