@import "./vars/colors.scss";
@import "./vars/sizings.scss";

.app {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;

  @media screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }

  > header {
    @media screen and (min-width: $desktop-width) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: $large-size;
      width: $header-width;
      
      box-shadow: inset -1px 0 0 0 $green-light;
      border-right: 1px solid $green-dark;
    }
    @media screen and (max-width: $mobile-width) {
      padding: $medium-size;
      width: 100%;

      box-shadow: inset 0 -1px 0 0 $green-light;
      border-bottom: 1px solid $green-dark;
    }

    box-sizing: border-box;
    background: linear-gradient(180deg, $green 0%, $green-dark 100%);
    color: $white;
  }

  > main {
    @media screen and (min-width: $desktop-width) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: $header-width;
      overflow-y: auto;
    }
    @media screen and (max-width: $mobile-width) {
      flex-grow: 1;
    }

    box-sizing: border-box;
    background: $white;
    color: $black;
  }

  *:first-child { margin-top: 0 !important; }
  *:last-child { margin-bottom: 0 !important; }
}
