@import "./sizings.scss";
@import "./colors.scss";

.app {
  > header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $app-header-width;

    padding: $large-size;
    padding-right: calc(#{$large-size} + #{$border-size});
    border-right: $border-size solid $dark-green;
    box-shadow: inset -#{$border-size} 0 0 $light-green; // Acts as inner border
    background: $green;
    color: $white;

    h1 { text-align: center; }

    nav {
      display: flex;
      flex-direction: column;
      gap: $small-size;

      button {
        padding: calc(#{$small-size} + #{$border-size});
        border: $border-size solid $light-green;
        border-radius: $medium-size;
        box-shadow: inset 0 0 0 $border-size $dark-green; // Acts as inner border
        background: linear-gradient(180deg, $white 0%, $gray 200%);
        color: $black;
        cursor: pointer;

        &:hover { background: linear-gradient(0deg, $white 0%, $gray 200%); }
      }
    }
  }

  > main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $app-header-width;

    background: $white;
  }
}
