@import './colors.scss';
@import './sizings.scss';

article {
  box-sizing: border-box;
  border: 2px solid $green;
  color: $black;

  > * {
    margin: $medium-padding;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $small-padding;

    .row > * {
      flex-grow: 1;
    }
  }
}

