@import './vars/colors.scss';
@import './vars/sizings.scss';

article {
  margin: $large-size auto;
  border: 1px solid $gray;
  padding: $large-size;
  min-width: $header-width;
  max-width: $article-max-width;
  box-sizing: border-box;
  border-radius: $medium-size;
  
  background-color: $white;

  .row {
    display: flex;
    margin: $small-size 0;
    gap: $small-size;

    * { margin: auto 0 !important; }
    *:first-child { margin-left: 0 !important; }
    *:last-child { margin-right: 0 !important; }

    .spacer {
      flex-grow: 1;
    }
  }

  .action-entry {
    margin: $medium-size 0;

    .button {
      width: auto;
    }
  }
}