@import "./vars/colors.scss";
@import "./vars/sizings.scss";

@mixin barPortionColor($color, $darkColor, $lightColor) {
  background: linear-gradient(180deg, $color 0%, $darkColor 240%);
  box-shadow: inset 0 0 0 1px $darkColor,
              inset 0 0 0 2px $lightColor;
    
  &:hover {
    background: linear-gradient(0deg, $color 0%, $darkColor 240%);
  }
}

.bar-chart {
  display: flex;
  flex-direction: row;
  gap: 1px;
  aspect-ratio: 16/9;

  .bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1px;

    box-sizing: border-box;
  }

  .bar-portion { background-color: black; } // Used to see which portions need new colors
  .bar-portion.red { @include barPortionColor($red, $red-dark, $red-light); }
  .bar-portion.orange { @include barPortionColor($orange, $orange-dark, $orange-light); }
  .bar-portion.green { @include barPortionColor($green, $green-dark, $green-light); }
  .bar-portion.blue { @include barPortionColor($blue, $blue-dark, $blue-light); }
  .bar-portion.purple { @include barPortionColor($purple, $purple-dark, $purple-light); }
  .bar-portion.pink { @include barPortionColor($pink, $pink-dark, $pink-light); }
  .bar-portion.white { @include barPortionColor($white, $gray, $white); }
}
