$white: #fafafa;
$light-gray: darken($white, 10%);
$gray: darken($white, 30%);
$dark-gray: darken($white, 50%);
$black: #111111;

$green: #44c55b;
$light-green: saturate(lighten($green, 25%), 40%);
$dark-green: saturate(darken($green, 20%), 5%);

$red: #c54444;
$light-red: saturate(lighten($red, 25%), 40%);
$dark-red: saturate(darken($red, 20%), 5%);

@mixin gradient-background($direction, $first-color, $last-color) {
  background: linear-gradient($direction, $first-color 0%, $last-color 175%);
}
