@import "../styles/colors.scss";
@import "../styles/sizings.scss";

@mixin input-background($bg-direction, $first-bg-color, $last-bg-color, $outer-border-color, $inner-border-color) {
  padding: calc(#{$small-size} + #{$border-size});
  border: $border-size solid $outer-border-color;
  border-radius: $medium-size;
  box-shadow: inset 0 0 0 $border-size $inner-border-color;
  @include gradient-background($bg-direction, $first-bg-color, $last-bg-color);
}

.action-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $small-size;
  margin: $small-size 0;
  @include input-background(0deg, $white, $gray, $dark-gray, $white);

  > * { margin: 0; }
  > .duration { flex-grow: 1; }
  > .separator { 
    min-height: 1.5em;
    border-left: $border-size solid $gray;
  }
}
