@import "./sizings.scss";
@import "./colors.scss";

.bar-chart {
  display: flex;
  flex-direction: row;
  gap: $small-size;

  margin: $small-size 0;
  aspect-ratio: 16/9;

  padding: $small-size;
  border: $border-size solid $dark-green;
  border-radius: $medium-size;
  box-shadow: inset 0 0 0 #{$border-size} $light-green; // Acts as inner border
  background: $green;

  .bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    padding: $border-size;
    border: $border-size solid $light-green;
    border-radius: $medium-size;
    box-shadow: inset 0 0 0 #{$border-size} $dark-green; // Acts as inner border
    background: $white;

    .bar-section {
      flex-grow: 1; // TODO: remove (used for debug)
      // TODO: do
    }
  }
}
