@import "./sizings.scss";
@import "./colors.scss";

.input-field {
  display: flex;
  flex-direction: column;
  margin: $small-size 0;

  label {
    padding: 0 calc(#{$medium-size} + #{$border-size});
    font-weight: bold;
    font-size: 0.85em;
    color: $red;
  }

  input, textarea {
    resize: vertical;
    padding: calc(#{$small-size} + #{$border-size});
    border: $border-size solid $dark-gray;
    border-radius: $medium-size;
    box-shadow: inset 0 0 0 $border-size $white; // Acts as inner border
    @include gradient-background(0deg, $white, $gray);
    color: $black;
  }

  button {
    padding: calc(#{$small-size} + #{$border-size});
    border: $border-size solid $dark-green;
    border-radius: $medium-size;
    box-shadow: inset 0 0 0 $border-size $light-green; // Acts as inner border
    @include gradient-background(180deg, $green, $dark-green);
    color: $white;
    cursor: pointer;
    
    &:hover { @include gradient-background(0deg, $green, $dark-green); }
  }
}
