@import "./vars/colors.scss";
@import "./vars/sizings.scss";

.prompt-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $large-size;
  background-color: rgba(0, 0, 0, 0.5);

  .prompt-perimeter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .prompt {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
  
    border-radius: $medium-size;
    max-width: $mobile-width;
    box-sizing: border-box;
    
    background-color: $white;
    color: $black;
    box-shadow: 0 0 1.25rem -0.25rem $black;
  }
}
