$small-padding: 0.3rem;
$medium-padding: 0.6rem;
$large-padding: 1.2rem;

$article-width: 40rem;
$small-page-width: $article-width + 2 * $large-padding;
$medium-page-width: 2 * $article-width + 3 * $large-padding;
$large-page-width: 3 * $article-width + 4 * $large-padding;
