@import "../colors.scss";
@import "../sizings.scss";

.article-wrapper {
  padding: $large-size;
  & + & { border-top: 1px solid $dark-primary; }

  article {
    display: flex;
    flex-direction: column;
    gap: $large-size;

    margin: 0 auto;
    max-width: $article-max-width;

    > header {
      display: flex;
      flex-direction: row;
      gap: $medium-size;
      align-items: center;
      > * { margin: 0; }
    }
  }
}
