@import "../vars/colors.scss";
@import "../vars/sizings.scss";

article {
  &.post {
    .title {
      margin-bottom: $tiny-size;
    }
    .date {
      margin-top: $tiny-size;
    }
  }

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}