@import "../colors.scss";
@import "../sizings.scss";

.bar-chart {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: $small-size;
  aspect-ratio: 2/1;

  .bar {
    display: flex;
    flex-direction: column;
    grid-row: 1;

    .bar-section {
      border-radius: $small-size;
      border: 1px solid $dark-secondary;
      box-shadow: inset 0 0 0 1px $light-secondary;
      background: linear-gradient(180deg, $secondary 0%, $dark-secondary 160%);
      color: $white;
      cursor: help;
      &:hover { background: linear-gradient(0deg, $secondary 0%, $dark-secondary 160%); }
    }
  }

  .bar-label {
    grid-row: 2;
    font-size: 0.8em;
    text-align: center;
    overflow: hidden;
  }
}
