@import "../colors.scss";
@import "../sizings.scss";

.input-field {
  margin: $small-size 0;

  button {
    width: 100%;
    height: 100%;

    border-radius: $small-size;
    border: 1px solid $dark-secondary;
    padding: $small-size $medium-size;
    box-shadow: inset 0 0 0 1px $light-secondary;
    background: linear-gradient(180deg, $secondary 0%, $dark-secondary 160%);
    color: $white;

    &:hover { 
      background: linear-gradient(0deg, $secondary 0%, $dark-secondary 160%); 
    }
    &:active, &:disabled { 
      border: 1px solid $black;
      box-shadow: inset 0 0 0 1px $secondary;
      background: linear-gradient(0deg, $dark-secondary 0%, $black 160%);
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  input, textarea {
    width: 100%;
    height: 100%;

    border-radius: $small-size;
    border: 1px solid $dark-gray;
    padding: $small-size $medium-size;
    box-shadow: inset 0 0 0 1px $white;
    background: linear-gradient(0deg, $white 0%, $light-gray 100%);
    color: $black;
  }
}

.app > header .input-field,
.widget > header .input-field {
  button {
    border: 1px solid $light-primary;
    box-shadow: inset 0 0 0 1px $dark-primary, inset 0 0 0 2px $white;
    background: linear-gradient(180deg, $white 0%, $light-gray 100%);
    color: $black;

    &:hover { 
      background: linear-gradient(0deg, $white 0%, $light-gray 100%); 
    }
    &:active, &:disabled { 
      background: linear-gradient(0deg, $light-gray 0%, $gray 150%); 
      box-shadow: inset 0 0 0 1px $dark-primary, inset 0 0 0 2px $light-gray;
    }
  }

  input, textarea {
    border: 1px solid $light-primary;
    box-shadow: inset 0 0 0 1px $dark-primary, inset 0 0 0 2px $white;
  }
}

.combination-field {
  display: flex;
  flex-direction: row;
  gap: $small-size;

  > * { 
    flex-grow: 1;
    margin: 0;
    width: 0;
  }
}
