@import "../colors.scss";
@import "../sizings.scss";

.prompt-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .perimeter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .prompt {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: $large-size;
    max-width: $article-max-width;

    border-radius: $medium-size;
    border: 1px solid $light-green;
    padding: $large-size;
    box-shadow: 0 0 1.25rem -0.25rem $black;
    background-color: $green;
  }
}
