@import "../colors.scss";
@import "../sizings.scss";

.widget {
  display: flex;
  flex-direction: column;
  gap: $small-size;

  border-radius: $small-size;
  border: 1px solid $dark-primary;
  padding: $small-size;
  box-shadow: inset 0 0 0 1px $light-primary;
  background: $primary;

  > header {
    display: flex;
    flex-direction: row;
    gap: $small-size;
    align-items: center;

    padding: 0 0 0 $small-size;
    color: $white;

    .title { margin: 0; flex-grow: 1; word-break: break-all; }
    .input-field { margin: 0; height: 100%; }
  }

  > section {
    flex-grow: 1;

    border-radius: $small-size;
    border: 1px solid $light-primary;
    box-shadow: inset 0 0 0 1px $dark-primary;
    padding: $small-size $medium-size;
    background: $white;
    color: $black;
  }
}
