@import "../../colors.scss";
@import "../../sizings.scss";

.task-list,
.task-entry-list {
  display: grid;
  gap: $small-size;
  margin: $large-size 0;

  @media screen and (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
  }
}
