@import "./colors.scss";
@import "./sizings.scss";

.app {
  > header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $app-header-width;

    border-right: 1px solid $dark-green;
    padding: $large-size;
    box-shadow: inset -1px 0 0 $light-green;
    background-color: $green;
    color: $white;

    > h1 { text-align: center; }
  }

  > main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $app-header-width;

    background-color: $white;
    color: $black;
    overflow-y: auto;
  }
}
