@import './vars/colors.scss';
@import './vars/sizings.scss';

.app {
  > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: $large-size;
    width: $aside-width;
    box-sizing: border-box;

    border-right: 1px solid $green-dark;
    box-shadow: inset -1px 0 0 $green-light;
    background: linear-gradient(180deg, $green 0%, $green-dark 100%);

    h1 {
      color: $white;
      text-align: center;
    }
  }

  > main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $aside-width;
    padding: $large-size;
    box-sizing: border-box;
    overflow-y: auto;

    background-color: $white;
    color: $black;
  }

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
