@import './variables/colors.scss';
@import './variables/sizings.scss';

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $white;
}

.app {
  > header {
    display: flex;
    gap: $large-gap;

    padding: $large-gap;
    background-color: $green;
    color: $green-light;

    > nav {
      display: flex;
      gap: $medium-gap;

      a, span {
        margin: auto 0;
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          text-decoration: none;
        }
      }
    }
  } 
}