$black: #111111;
$dark-gray: #383838;
$gray: #6c6c6c;
$light-gray: #cbcbcb;
$white: #fafafa;

$dark-red: #791e19;
$red: #d84f48;
$light-red: #f9938a;

$dark-orange: #7d4e1a;
$orange: #d89750;
$light-orange: #f6c58f;

$dark-yellow: #797519;
$yellow: #d4ce4a;
$light-yellow: #f2ed8c;

$dark-green: #196c27;
$green: #44c55b;
$light-green: #8deda7;

$dark-cyan: #1e7379;
$cyan: #4cc8cf;
$light-cyan: #97f1f6;

$dark-blue: #1f3d7d;
$blue: #4c79d8;
$light-blue: #9ab8f9;

$dark-purple: #671b82;
$purple: #b248d8;
$light-purple: #df91fb;

$dark-primary: $dark-green;
$primary: $green;
$light-primary: $light-green;
$dark-secondary: $dark-red;
$secondary: $red;
$light-secondary: $light-red;
