:root {
    --background: #081824;
    --foreground: #f8f8f8;
    --red: #e25249;
    --green: #bed255;
    --blue: #007ec8;

    --side-menu-width: 272px;
    --side-menu-margin: 12px;
    --side-menu-btn-width: 12px;
    --content-padding: 64px;
    --content-inner-padding: 24px;
}

* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

/* Layout */

body > aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--side-menu-width);

    text-align: center;

    display: flex;
    flex-direction: column;
}

body > aside header {
    padding: var(--side-menu-margin);
}

body > aside footer {
    padding: var(--side-menu-margin);

    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

nav a {
    display: block;
    width: 100%;
    padding: var(--side-menu-btn-width) 0;
}

#entries {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: var(--side-menu-width);
    padding: var(--content-padding);

    text-align: left;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    column-gap: var(--content-padding);
    row-gap: var(--content-padding);
}

#entries > section {
    padding: calc(var(--content-inner-padding) / 2);
}

#entries > section > * {
    display: block;
    padding: calc(var(--content-inner-padding) / 2);
}

#entries > section img {
    width: 100%;
}

#entries > section .tags li {
    display: inline-block;
}

/* Styles */

body > aside {
    background-color: var(--background);
    color: var(--foreground);
}

#entries > section {
    background-color: var(--foreground);
    color: var(--background);
}

#entries.red, nav a.red.selected, nav .red:hover {
    background-color: var(--red);
}

#entries.green, nav a.green.selected, nav .green:hover {
    background-color: var(--green);
}

#entries.blue, nav a.blue.selected, nav .blue:hover {
    background-color: var(--blue);
}

nav a {
    color: var(--foreground);
}

#entries.red a {
    color: var(--red);
}

#entries.green a {
    color: var(--green);
}

#entries.blue a {
    color: var(--blue);
}

#entries a:hover {
    color: var(--background);
}

/* Styles */

#entries > section .tags {
    list-style-type: none;
}

#entries > section .tags li::before {
    content: '#';
}

a {
    text-decoration: none;
}
