:root {
    --background: #ffffff;
	--foreground: #333333;
	--accent: #6bbd57;
	--accent-dark: #569746;

    /* TODO: create variables for spacing */
}

/* FONTS */

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* GENERAL */

body {
	padding: 0 10%;
	
	color: var(--foreground);
	background-color: var(--background);
	border-color: var(--foreground);
	
	font-family: ubuntu, sans-serif;
}


nav {
	border-width: 1px 0 1px 0;
	border-style: solid;
}

footer {
	border-top: 1px solid;
}

/* NAVIGATION */

nav ul {
	margin: 0;
	padding: 0;
	height: calc(1rem + 1rem);
	
	list-style-type: none;
}

nav li {
	float: left;
}

nav a {
	display: block;
	padding: 0.5rem 1rem;
	height: 1rem;
	
	color: var(--foreground);
	font-weight: bold;
	text-decoration: none;
}

nav a:hover, nav a.selected {
	background-color: rgba(0, 0, 0, 0.1);
}

nav a.selected {
	cursor: default;
}

/* CONTENT */

content.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	column-gap: 2rem;
	/* row-gap: 2rem; */ 
}

content p {
	line-height: 1.4;
	text-align: justify;
}

content a {
	color: var(--accent);
	font-weight: bold;
	text-decoration: none;
}

content a:visited {
	color: var(--accent-dark);
}

content a:hover {
	text-decoration: underline;
}

/* POSTS */

.img-container {
    position: relative;
    
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Images are shown as 16:9 */

    overflow: hidden;
}

.img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container:hover {
    background-color: #000000;
    cursor: pointer;
}

.img-container:hover img {
    opacity: 0.75;
}