:root {
    --theme-color-dark: #44c55b;
    --theme-color-bright: #8deda7;

    /* TODO: create variables for spacing */
}

/* FONTS */

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("res/font/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    font-family: ubuntu, sans-serif;
}

body {
    margin-bottom: 1.8em;
    background-color: #333333;
}

nav, section {
    background-color: #ffffff;
    border-radius: 1rem;
}

::selection, ::-moz-selection {
    color: #ffffff;
    background-color: #c5449eaa;
}

#last-update-label {
    position: fixed; /* TODO: make absolute or make a footer */
    bottom: 0.5em;
    left: 0.5em;

    z-index: -1;
    color: #ffffff;
}

/* HEADER DESIGN */

header {
    position: relative;
    margin: 1rem;

    font-size: 3.5rem;
    color: #ffffff;
    -webkit-text-stroke-width: 0.35rem;
    -webkit-text-stroke-color: black;
}

header img {
    display: block;
    margin: auto;
    width: 4em;
    border: 0.35rem solid black;
    border-radius: 50%;
}

header h1 {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translate(0, -50%); /* Centers the origin of the header vertically */
    text-align: center; /* Centers the origin of the header horizontally */
}

/* NAV DESIGN */

nav {
    margin: 1rem;
    
    padding: 0 1em;
    border: 0.35rem solid black;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 0.5rem;

    color: var(--theme-color-dark);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover, nav a#selected {
    color: var(--theme-color-bright);
    background-color: var(--theme-color-dark);
}

/* CONTENT DESIGN */

.grid {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}

#content {
    margin: 1rem 5rem;
}

#content ul {
    margin-left: 1em;
}

#content section {
    padding: 0.5rem;
    
    border: 0.35rem solid black;
    overflow: hidden;
}

#content > section, .grid {
    margin: 1rem 0;
}

#content div + *, #content img + *, #content p + *, #content ul + *, #content a + * {
    margin-top: 0.45em;
}

#content * + h1 {
    margin-top: 1.2em;
}

#content h1 {
    margin-bottom: 0.2rem;
    color: var(--theme-color-dark);
}

#content section > img {
    border-radius: 0.5rem;
    max-width: 100%;
}

#content a {
    color: var(--theme-color-dark);
    font-weight: bold;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}