:root {
    --black: #111111;
    --white: #f8f8f8;
    --cyan: #0493d3;
    --magenta: #cb046b;
    --yellow: #fff10c;
}

body.cyan {
    background-color: var(--cyan);
}

body.magenta {
    background-color: var(--magenta);
}

body.yellow {
    background-color: var(--yellow);
}

/* Sidebar Menu */

#sidebar {
    background-color: var(--black);
    color: var(--white);
}

nav a.cyan:hover, nav a.cyan.selected {
    background-color: var(--cyan);
}

nav a.magenta:hover, nav a.magenta.selected {
    background-color: var(--magenta);
}

nav a.yellow:hover, nav a.yellow.selected {
    background-color: var(--yellow);
}

nav a {
    color: var(--white);
}

nav a:hover, nav a.selected {
    color: var(--black);
}

/* Entries */

.entry {
    background-color: var(--white);
    color: var(--black);
}

body.cyan .entry a, body.cyan .entry h2 {
    color: var(--cyan);
}

body.magenta .entry a, body.magenta .entry h2 {
    color: var(--magenta);
}

body.yellow .entry a, body.yellow .entry h2 {
    color: var(--yellow);
}

.entry a:hover {
    filter: brightness(75%);
}

.entry img:hover {
    filter: brightness(75%);
}

/* Misc */

#image-viewer-bg {
    background-color: #000a;
}
