:root {
    --sidebar-width: 280px;
    --sidebar-padding: 16px;
    --nav-btn-padding: 8px;

    --content-padding: 64px;
    --entry-padding: 24px;
}

* {
    margin: 0;
    padding: 0;
}

/* Sidebar Menu */

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);

    display: flex;
    flex-direction: column;

    text-align: center;
}

#sidebar > header {
    padding: var(--sidebar-padding);
}

#sidebar > footer {
    padding: var(--sidebar-padding);

    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

#sidebar > nav a {
    display: block;
    width: 100%;
    padding: var(--nav-btn-padding) 0;
}

/* Content */

#entries {
    position: absolute;
    top: 0;
    right: 0;
    left: var(--sidebar-width);
    padding: var(--content-padding);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    column-gap: var(--content-padding);
    row-gap: var(--content-padding);

    z-index: -1;
}

.entry {
    display: flex;
    flex-direction: column;
}

.entry > header {
    padding: var(--entry-padding);
}

.entry > content {
    padding: 0 var(--entry-padding) var(--entry-padding);
    display: block;
    flex-grow: 1;
}

.entry > content > ul {
    list-style-position: inside;
}

.entry > content > .img-container {
    width: 100%;
    overflow: hidden;
}

.entry > content > * + * {
    margin-top: 1em;
}

.entry > footer {
    padding: 0 var(--entry-padding) var(--entry-padding);
}

.tags li {
    display: inline-block;
}

/* Misc */

#image-viewer-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#image-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
}
